@tailwind base;
@tailwind components;
@tailwind utilities;
html body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}
#root {
  height: 100vh;
}
#btnGroupAddon {
  background-color: #1390e3;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.link {
  @apply pt-4 pb-4  relative cursor-pointer rounded-md;
}
.link .route i {
  @apply mr-5;
}
.route {
  @apply no-underline  ml-4 text-gray-500;
  transition: 0.3s;
}
.route.active {
  color: #1390e3;
}

.route:hover {
  color: #1390e3;
}
.link .route.active {
  color: #1390e3;
}
.link:hover .link .route,
.link .route:hover {
  color: #1390e3;
}
.page {
  @apply bg-slate-50  rounded-md p-4;
  height: calc(100vh - 48px);
  margin-top: 48px;
  overflow: auto;
}
