@tailwind base;
@tailwind components;
@tailwind utilities;
html body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

#btnGroupAddon {
  background-color: #1390e3;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.link {
  @apply pt-4 pb-3  relative cursor-pointer rounded-md;
}
.link .route i {
  @apply mr-5;
}
.route {
  @apply no-underline  ml-4 text-gray-500;
  transition: 0.3s;
}
.route.active {
  color: #1390e3;
}

.route:hover {
  color: #1390e3;
}
.link .route.active {
  color: #1390e3;
}
.link:hover .link .route,
.link .route:hover {
  color: #1390e3;
}
.page {
  @apply bg-slate-50  rounded-md p-4;
  height: calc(100vh - 48px);
  margin-top: 48px;
  overflow: auto;
}

@media (max-width: 640px) {
  .page {
    height: 964px;
  }
}
.menu {
  width: 500px;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
}
.menu:hover {
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  color: #52b0ed;
}
.drop {
  width: 500px;
  padding: 10px;
  color: rgb(241 245 249 / var(--tw-bg-opacity));
  border-radius: 6px;
  transition: 0.3s;
  visibility: hidden;
  height: 0;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}
.drop.active {
  width: 500px;
  padding: 10px;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  color: black;
  border-radius: 6px;
  transition: 0.3s;
  visibility: visible;
  height: fit-content;
  max-height: 150px;
}
